@font-face {
	font-family: "OpenSansExtraBold";
    src: url(../fonts/OpenSans-ExtraBold.ttf);

    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
	margin: 0;
	font-family: OpenSansExtraBold;
  }

@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
 }
}  

nav {
  display: flex;
  align-items: center;
}

h1 {
	text-transform: uppercase;
	margin: 0 0;
}

header p {
	color: #ffba00;
	font-size: 20px;
	font-family: OpenSansExtraBold;
	margin-top: 0px;
	padding-bottom: 135px;
}

.header-logo {
	font-size: 15px;
}

.header-nav {
	margin-left: auto;
	position: relative;
	text-align: center;
	font-size: 15px;
}

.logo {
	
}

.navLinks {
  color: black;
  padding-left: 33px;
  text-decoration: none;
  color: white;
}

.navLinks:hover {
  	color: #ffba00;
}

.nav-container {
	margin: 0 auto;
	display: flex;
	text-transform: uppercase;
	font-family: OpenSansExtraBold;
	padding: 32px 0 0;
}

section {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.main {
	position: relative;
	font-size: 47px;
	background-image: url(../img/house1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 26px rgba(0,0,0,0.75);
}

.module-windows {
	color: white;
	text-transform: uppercase;
	text-align: center;
}

.module-windows > h1 {
	font-size: 65px;
	padding-bottom: 30px;
	letter-spacing: 0.1em;
}
.btn-module {
    border: 2px solid #ffffff;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 0px;
    color: white;
    border-radius: 3px;
    letter-spacing: 0.1em;
    width: 262px;
    display: inline-block;
}
.btn-module:hover {
	color: black;
	border-radius: 3px;
	background-color: #ffba00;
	border: 2px solid #ffba00;
}
.buttons {
	padding-bottom: 83px;
	width: 830px;
	display: inline-block;
	justify-content: space-between;
	flex: 1 1 0;
}

//* start Section TECHNOLIGIES *//

.technologies {
	color: black;
	text-align: center;
}

.tech-h1 {
	text-align: center;
    position: relative;
	margin-top: 85px;
	font-size: 36px;
}


.tech-h1:after {
	content: "";
	background: #ffba00;
	position: absolute;
    left: 0;
    right: 0;
    top: 37px;
    margin: 20px auto;
    width: 160px;
    height: 5px;
}

.tech-about {
	width: 630px;
	margin: 0 auto;
	padding: 0;
	padding-top: 48px;
	text-align: center;
	font-family: OpenSans;
	word-spacing: 5px;
}

.tabs {
  margin: 0 auto;
  max-width: 740px;
  margin-left: 0;
}
.tab-content {
  background: #fff;
  color: #000;
}
.tab-content p {
  margin: 0 0 20px;
  line-height: 1.5;
}
.tab-content > div {
  display: none;
  padding: 40px 0;
}
input {
  display: none;
}
label {
  color: #b3b3b3;
  color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  border-bottom: 3px solid #dedbde;
}
label:hover {
  cursor: pointer;
}
input:checked + label {
  background: #fff;
  color: black;
  border-bottom: 3px solid black;
}
#tab1:checked ~ .tab-content #content1,
#tab2:checked ~ .tab-content #content2,
#tab3:checked ~ .tab-content #content3,
#tab4:checked ~ .tab-content #content4 {
  display: block;
}
.btn-tech{
	border: 2px solid #ffba00;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 0px;
    color: black;
    border-radius: 3px;
    letter-spacing: 0.1em;
    width: 262px;
    display: inline-block;
    background-color: #ffba00;
    text-align: center;
    text-transform: uppercase;
}

/*SLIDER*/

.slider a, a:visited, a:active {
  text-decoration: none;
  color: black;
}
.slider {
	width: 100%;
	text-align: center;
	height: 480px;
	overflow: hidden;
}
.slider a {
  font-family: "Airglyphs";
  font-size: 64px;
  vertical-align: top;
  line-height: 480px;
}

.slider a:first-child {
  padding-right: 200px;
}
.slider a:last-child {
  padding-left: 200px;
}

.slider[role="slider"] {
  padding: 1% 20px;
  zoom: 0.1;
}

/*SLIDER END*/

.lists {
	display: flex;
}

//* end Section TECHNOLIGIES *//
.section3 {
	background: gray;
	position: relative;
}
.section4 {
	background: green;
	position: relative;
}
.section5 {
	background: blueviolet;
	position: relative;
}
.section8 {
	background: brown;
}